body {
    background-color: rgb(40,40,40);
    font-family: 'Roboto', sans-serif; 
}

.fs-6 {
    color: rgb(200,200,200);
}

.fs-5 {
    color: rgb(230,230, 230);
}

.knowledge {
    font-weight: bold;
}

a {
    font-weight: bold;
}

h1 {
    font-size: 40px;
    font-weight: normal;
    color: rgb(200,200,200);
}

h2 {
    font-size: 32px;
    color: rgb(250,250,250);
}

.about_me {
    color: rgb(80,80,80);
}