<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aidas Gaučas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="container">
        <h1>Aidas Gaučas</h1>
        <h2>About me</h2>
        <p class="about_me">I am a Lithuanian student from Klaipėda University studying CS (Bachelor of Computer Science)
            During my years in University I've learnt various informatic's technologies including programming languages
            and its' frameworks, use of various engineering software and other CS skills. I am highly excited about 
            the AI development of LLMs such as ChatGPT and I am eager to adapt and learn what the AI development brings to the world.
        </p>
        <h2>Knowledge</h2>
        <p class="about_me">These are some programming langueges I have experience with</p>
        <ul>
            <li>
                <strong>Frontend</strong>
                <ul>
                    <li>Bootstrap</li>
                    <li>JavaScript</li>
                </ul>
            </li>
            <li>
                <strong>Backend</strong>
                <ul>
                    <li>MySql</li>
                    <li>Python (Flask)</li>
                    <li>C# (ASP.NET MVC)</li>
                    <li>PHP (CodeIgniter 4)</li>
                </ul>
            </li>
        </ul>
        <p class="about_me">Some other languages I've written code in before and have basic Knowledge of</p>
        <ul>
            <li>C++ (OOP)</li>
            <li>Java (Data structures and algorithms)</li>
        </ul>
        <p class="about_me">Some software I have experience with</p>
        <ul>
            <li>
                <strong>3D modeling</strong>
                <ul>
                    <li>SOLIDWORKS</li>
                    <li>OnShape</li>
                </ul>
            </li>
            <li>
                <strong>2D and other</strong>
                <ul>
                    <li>Autocad</li>
                    <li>Matlab</li>
                    <li>Maple</li>
                </ul>
            </li>
        </ul>
        <p class="about_me">Most of my experience in programming languages, frameworks and different software comes from University courses and extensive course projects,
            some of which are on <a href="https://github.com/aidasgau">My github</a></p>, however I also have experience in writing my own projects including discord bots with python.
        </div>
        <p>Copyright 2023</p>
</body>
</html>